<div class="container">
  <h3 class="text-center">Template Driven - Angular</h3>
  <br />
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label class="font-weight-bold"> Email </label>
      <input
        type="text"
        class="form-control"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
      />
      <span class="help-block text-danger" *ngIf="!email.valid && email.touched"
        >Please Enter a valid Email</span
      >
    </div>

    <div class="form-group pt-3">
      <label class="font-weight-bold"> Password </label>
      <input
        type="password"
        class="form-control"
        ngModel
        name="password"
        required
        #password="ngModel"
      />
      <span class="help-block text-danger" *ngIf="!password.valid && password.touched"
        >Please enter a password</span
      >
    </div>

    <div class="form-group pt-3">
      <label class="font-weight-bold pr-2"> Subscription: </label>
      <select class="form-control" name="level" [ngModel]="default_level">
        <option *ngFor="let level of levels" [value]="level">
          {{ level }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
    </div>
  </form>
</div>
<hr />
<div class="container" *ngIf="validForm">
  <h3 class="text-center">Data Entered</h3>
  <br />
  <p>Email: {{ userData.userEmail }}</p>
  <p>password : {{ userData.userPassword }}</p>
  <p>Level : {{ userData.userLevel }}</p>
</div>
